@media only screen
and (max-width : 480px) {
body {
color: white;
font-family: Verdana, Geneva, Arial, sans-serif;
padding:0px;
margin:0px;
}
h1,h2,h3,h4,h5,h6,p,li {
margin-left:15px;
margin-top:0px;
}
#wrapper {width: 100%;
}
#right-column {
width:100%;
float: none;
height: 1200px;
background-color: DarkOrange;
}
#left-column
    {
    float: left;
    width: 37%;
    background-color:silver;
    height:734px;
    }
header,footer{
    background-color: #333;
    color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
}
#banner{
height:100px;
background-color:black;
}
/* Advanced Web design relies on class or ID styles, never tables */ 
.box 
{ 
    height: 150px; 
    width: 150px;
    float: left; 
    background-color:tan; 
    margin: 15px; 
    opacity:.5; 
} 
/* The following pseudo-class applies to the box class when in a hovered state */ 
.box:hover 
{ 
    background-color:white; 
    opacity:1; 
} 
.button {
font-size:x-large;
text-decoration:none;
background-color:LightBlue;
display:block;
width:25%;float:left;
padding:5px;
margin:5px;
border-radius:5px;
box-shadow:5px 5px 3px gray;
}
.button:hover {
box-shadow:5px 5px 3px black;
}
}