/*Hashir Khan*/
/*100911091*/
/*Assignment1*/
/* Phone CSS*/ 
@media only screen and (max-width : 480px) {
    /* Body Tag that is used for the entire webpage*/ 
    body{
    font-family: Verdana, Geneva, Arial, sans-serif;
    padding:0px;
    margin:0px;
    }
    /*makes all the following tags have a margin from the left and none from the top*/ 
    h1,h2,h3,h4,h5,h6,p,li{
    margin-left:15px;
    margin-top:0px;
    }
    /* Wrapper tag that is used to create a section that changes based on the screen size*/ 
    #wrapper {width: 100%;
    }
    #left-column{
        float: left;
        width: 37%;
        background-color:silver;
        height:734px;
    }
    /*The box tag that is useed to make a box*/ 
    .box{ 
        height: 70px; 
        width: 70px;
        float: left; 
        background-color:tan; 
        margin: 15px; 
        margin-bottom: 20px;
        opacity:.5; 
    } 
    /*pseudo class for when hovering over box*/
    .box:hover{ 
        background-color:white; 
        opacity:1; 
    } 
}