/*Hashir Khan*/
/*100911091*/
/*Assignment1*/
/* Style CSS*/ 
@charset "UTF-8";
/* Body Tag that is used for the entire webpage*/ 
body 
{ 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} 
/* Wrapper tag that is used to create a middle section and uses a linear-gradient for color*/ 
#wrapper 
{ 
    overflow: hidden;
    background: linear-gradient(45deg, #003366, #D7B2E1);
    width: 100%;
    min-height: 800px;
    margin-left: auto; 
    margin-right: auto; 
} 
/* The left-column tag that is used to make a column on the left*/ 
#left-column 
{ 
    margin-right: 10px;
    animation: txtanimation 3s ease-in-out;
    overflow: hidden;
    float: left; 
    width: 360px;
    background-color:silver; 
    height:750px; 
    border-radius: 10px;
} 
/*makes all the following tags have a margin from the left*/ 
h1,h2,h3,h4,h5,h6,p,li 
{ 
    margin-left:15px; 
} 
/*box tag that makes a box*/ 
.box 
{ 
    height: 150px; 
    width: 150px;
    float: left; 
    background-color:tan; 
    margin: 15px; 
    opacity:.5; 
    border-radius: 10px;
} 
/*pseudo class for when hovering over box*/ 
.box:hover 
{ 
    background-color:white; 
    opacity:1; 
    border-radius: 10px;
}
/*header and footer tag with a linear gradient color*/
header,footer{
    background: linear-gradient(45deg, black, whitesmoke);
    color: #FFFFFF;
}
/*aboutme-video-container tag that puts space between the video and the about me image and makes sure they're aligned with one another*/
#aboutme-video-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    animation: videoabtmeanimation 5s ease-in-out
}
/*tag that sets the video's dimensions inside of the aboutmevideocontainer*/
#aboutme-video-container video {
    width: 70%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}
/*tag that animates the text to fade in*/
.aboutmetxt{
    animation: contentanimation 5s ease-in-out;
}
/*sets the dimensions of the aboutme image*/
.aboutmeimg {
    width: 70%;
    height: 70%;
  }
/*sets color of nav bar*/
nav {
    background-color: #333;
    overflow: hidden;
}
/*sets the properties in the nav bar*/
nav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 10px;
}
/*when you hover over the properties in the navbar*/
nav a:hover {
    background-color: #ddd;
    color: black;
    animation: navanimation 3s infinite, ease-in-out;
    border-radius: 10px;
}
/*sets the visual look of the video*/
video{
    width: 400px;
    padding: 15px;
    background-color:black;
    border: whitesmoke;
    box-shadow: 2px 2px 2px black;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
/*border radius on image to make it look better*/
img{
    border-radius: 10px;
}
/*animation on text*/
.home-container{
    margin-top: 100px;
    animation: txtanimation 3s ease-in-out;
}
/*animation on text*/
.content-container{
    animation: contentanimation 5s ease-in-out;
}
/*animation on the feedback page*/
.feedback-container{
    animation: feedbackanimation 5s ease-in-out;
    overflow: hidden;
}
/*using keyframes to create the animation*/
@keyframes navanimation{
    0% {background-color: white}
    50% {background-color: grey; transform: translateY(2px) scale(1.1);}
    100% {background-color: white;}
}
/*using keyframes to create the animation*/
@keyframes txtanimation{
    0% {transform: translateX(-250px);}
    100% {transform: translateX(0px);}
}
/*using keyframes to create the animation*/
@keyframes contentanimation{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/*using keyframes to create the animation*/
@keyframes videoabtmeanimation{
    0% {transform: translateY(550px);}
    100% {transform: translateY(0px);}
}
/*using keyframes to create the animation*/
@keyframes feedbackanimation{
    0% {opacity: 0; transform: translateY(20px);}
    100% {opacity: 1; transform: translateY(0px);}
}