@charset "UTF-8";
html{
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
font-family: Verdana, Geneva, Arial, sans-serif;
padding:0px;
margin:0px;
}
h1,h2,h3,h4,h5,h6,p,li {
margin-left:15px;
margin-top:0px;
}
#wrapper {width: 100%;
min-height: 800px;
margin-left: auto;
margin-right: auto;
background-color:DarkGrey;
}
#right-column {
float: none;
height: 600px;
background-color: DarkOrange;
}
#left-column
    {
    float: left;
    width: 37%;
    background-color:silver;
    height:730px;
    }

/* Advanced Web design relies on class or ID styles, never tables */ 
.box 
{ 
    height: 150px; 
    width: 150px;
    float: left; 
    background-color:tan; 
    margin: 15px; 
    opacity:.5; 
} 
/* The following pseudo-class applies to the box class when in a hovered state */ 
.box:hover 
{ 
    background-color:white; 
    opacity:1; 
} 
.clear{
clear: both;
}