@charset "UTF-8";
body {
color: white;
font-family: Verdana, Geneva, Arial, sans-serif;
padding:0px;
margin:0px;
}
h1,h2,h3,h4,h5,h6,p,li {
margin-left:15px;
margin-top:0px;
}
#wrapper {width: 100%;
height: 800px;
margin-left: auto;
margin-right: auto;
background-color:DarkGrey;
}
#right-column {
float: none;
height: 600px;
background-color: DarkOrange;
}
#left-column
    {
    float: left;
    width: 37%;
    background-color:silver;
    height:734px;
    }
header,footer{
    background-color: #333;
    color: #333;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* Advanced Web design relies on class or ID styles, never tables */ 
.box 
{ 
    height: 150px; 
    width: 150px;
    float: left; 
    background-color:tan; 
    margin: 15px; 
    opacity:.5; 
} 
/* The following pseudo-class applies to the box class when in a hovered state */ 
.box:hover 
{ 
    background-color:white; 
    opacity:1; 
} 
.clear{
clear: both;
}
video{
    width: 30%;
    padding: 15px;
    background-color:black;
    border: whitesmoke;
    box-shadow: 2px 2px 2px black;
    display: block;
    margin: 20px auto;
}